<div class="intro-body">
  <div class="row">
    <div class="col-lg-12">
      <!--<h1 class="page-header">Introduction</h1>-->
      <div class="swiper-container">
        <div class="parallax-bg" style="background-image:url('../assets/images/BlogBackground6.jpg'); opacity: 0.6;" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-100">Intro</div>
            <div class="subtitle" data-swiper-parallax="-200">Slide 1</div>
            <div class="text" data-swiper-parallax="-300">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
            </div>
            <div class="metro-input">
              <select name="mySelect" id="mySelect"
                      ng-options="option.name for option in data.availableOptions track by option.id"
                      ng-model="data.selectedOption"></select>
              <input type="text" name="firstname" ng-model="metro" style="color: black; width: 300px;"><br>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-100">Slide 2</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-300">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-100">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-300">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
