.intro-body {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  padding: 0px;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  background: #000;
}
.swiper-slide {
  font-size: 18px;
  color:#fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .slide-frame {
  background-color: dimgray;
  border-color: dimgray;
  opacity: 0.7;
  border: 2px solid;
  padding: 40px;
  height: 90vh;
  border-radius: 15px;
  filter: blur(35); // TODO this is not working yet
  -webkit-filter: blur(35);
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.swiper-slide .subtitle {
  font-size: 21px;
}
.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper-slide .chart-row {
  font-size: 14px;
  width: 100%;
  line-height: 1.3;
}


.state{
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}
.state:hover{
  fill-opacity:0.5;
}
#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}
#tooltip h4{
  margin:0;
  font-size:14px;
}
#tooltip{
  background:rgba(0,0,0,0.9);
  border:1px solid grey;
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}
#tooltip table{
  table-layout:fixed;
}
#tooltip tr td{
  padding:0;
  margin:0;
}
#tooltip tr td:nth-child(1){
  width:50px;
}
#tooltip tr td:nth-child(2){
  text-align:center;
}

//slide 2
.y.axisRight text {
  fill: orange;
}
.y.axisLeft text {
  fill: steelblue;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar1 {
  fill: steelblue;
}
.bar2 {
  fill: orange;
}
.x.axis path {
  display: none;
}

h2 {
    font-weight: 100;
}
h3 {
  font-size: 22px;
    font-weight: 200;
}
h4 {
  font-size: 12px;
    font-weight: 150;
}
h5 {
  font-size: 35px;
    font-weight: 300;
}

.hoverinfo {
  color: white;
}

text {
  color: #fff !important;
}
